.thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 0;
  margin-right: 10px;
}

.card {
  width: 500px; 
  margin: 10px;
}

.go-back-btn {
  margin-right: 30px; 
  border-radius: 0 !important;
}

.cart-btn{
  background-color: black !important;
  border-radius: 0 !important;
  border: 1px solid black !important;
  color: white !important;
}

.cart-btn:hover{
  background-color: #71797E !important;
}

.nav-link {
  transition: color 0.3s ease; 
}

.nav-link:hover {
  color: forestgreen !important;
  text-decoration: none; 
}

.navbar .container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.icon{
  color: black !important;
}

.icon:hover{
  color: #71797E !important;
}

.icon-black{
  color: black !important;
}

